body {
    background-color: rgb(108, 107, 107);
}

ul {}

ul#nav1 {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin: 20px;
    text-align: justify;
}

li {
    list-style-position: inside;
    border: #000000;
    text-align: left;

}

header {
    height: 200px;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border-radius: 0px 0px 30PX 30px;
    margin: auto;
    background-image: linear-gradient(to bottom, black, rgb(46, 18, 18));

}
nav {
    width: 490PX;
    height: 50px;
    color: #ffffff;
    padding: 0.5px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    box-sizing: content-box; 
    border: 2px solid rgb(50, 0, 0);  
    background-image: linear-gradient(to bottom, black, rgb(46, 18, 18));


}

a {
    text-decoration: none;
    padding: 9px;
    margin: auto;
    display: inline-flexbox;
}

a:hover {
    border-bottom: 2px solid rgb(255, 0, 0);
    background-position: center;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    box-shadow: 1px 1px 1px red;
}

a:visited {
    color: rgb(247, 214, 214);
}

a:active {
    color: #000000;
    background-image: linear-gradient(to left,red,white));
}

h1 {
    width: 360px;
    text-align: center;
}

h1:hover {
    color: red;
}

h2 {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

iframe{
    display: grid;
    margin: auto;
    width: 400px;
    height: 300px;
    overflow: auto;
}

main {
    background-color: rgb(255, 255, 255);
    text-align: justify;
    text-indent: 30px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 1px 1px 5px black;
}
#soci {
    margin: auto;
     gap: 20px ;
     text-align: center;
}
#soci:hover{
     border: #000000;
}
.elementos {
    display: inline-table;
    background-color: #a49494;
    color: #000000;
    margin: 47px;
    width: 450px;
    height: 250px;
    border-radius: 25px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);

}
.elementos:hover{
    font-size: 18px;
    background-image: linear-gradient(to top,white,rgb(35, 34, 34));
    color: white;
}
.article {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 15px;
    margin: 30px
}

.servicos {
background-color: #ffffff;
color: #090606;
height: 200px;
width: 250px;
border-radius: 25px;
box-shadow: #ffffff;
padding: 12px;
display: inline-block;
margin: 10px;
text-align: center;
box-shadow: 0px 0px 10px rgb(0, 0, 0);
gap: 90px;


}
.descri {
    background-color: white;
    border-radius: 15px;

}
.descri2{
    background-color: #ffffff;
    color: #000000;
    height: 200px;
    padding: 5px;
    font-size: 13.5px;
    border-radius: 15px;
    margin: auto;
    width: 97%;
    opacity: 0;
    animation: aparecer 5s forwards;
    
}
@keyframes aparecer{
    to{
        opacity: 1;
    }
}
.descri2:hover{
    color: #000000;
    background-color: #fffafa;
    box-shadow: 1px 1px 10px black;
    
}
.servicos:hover {
    background-color: #dadada;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgb(34, 8, 8);
}

